body {
    background-image: url("https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG1hcHxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Oswald';
  }

  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 4em;
    
  }

  #map {
    width: 600px;
    height: 600px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  }
  
  .map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .location-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

  }
  

  .lat {
    border: 2px solid rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  }

  .lng {
    border: 2px solid rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.4);
  }